*.pptx
.vs
bin
obj
TerraformLogViewerBackend/.dockerignore
TerraformLogViewerBackend/TerraformLogViewerBackend.sln
TerraformLogViewerBackend/TLV.API/appsettings.Development.json
TerraformLogViewerBackend/TLV.API/appsettings.json
TerraformLogViewerBackend/TLV.API/Dockerfile
TerraformLogViewerBackend/TLV.API/Program.cs
TerraformLogViewerBackend/TLV.API/TLV.API.csproj
TerraformLogViewerBackend/TLV.API/TLV.API.csproj.user
TerraformLogViewerBackend/TLV.API/Controllers/LogsController.cs
TerraformLogViewerBackend/TLV.API/Properties/launchSettings.json
TerraformLogViewerBackend/TLV.Application/TLV.Application.csproj
TerraformLogViewerBackend/TLV.Application/Interfaces/ILogImportService.cs
TerraformLogViewerBackend/TLV.Application/Services/LogImportService.cs
TerraformLogViewerBackend/TLV.DataAccess/TLV.DataAccess.csproj
TerraformLogViewerBackend/TLV.Domain/LogEntry.cs
TerraformLogViewerBackend/TLV.Domain/LogSession.cs
TerraformLogViewerBackend/TLV.Domain/TLV.Domain.csproj
TerraformLogViewerBackend/TLV.Infrastructure/TLV.Infrastructure.csproj
TerraformLogViewerBackend/TLV.Infrastructure/Repositories/InMemoryLogsRepository.cs
структура.png
